/* Source: coolors.co
color theme:
#050608
#0e1e35
#f7f0f5
#f5ebd5
#ecb536
 */

 /* style body */
body{
    background-color: #0e1e35;
    user-select: none;
    zoom: 75%; /* zoom out page to fit all content */
    overflow-x: hidden; /* hide horizonatal scollbar */
}

/* sylte FilmScript Heading */
h1{
    font-size: 100px;
    margin-top: 5%;
    text-align: center;
    font-weight: lighter;
    color: #f7f0f5;
    margin-left: 2%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 10px;
    text-shadow: 0px 0px 10px #ecb536;
}

/* style the popcorm images */

#popcorn1, #popcorn2{
    position: absolute;
    top: 5%;
}

#popcorn1{
    left: 10%;
    rotate: 10deg;
}

#popcorn2{
    left: 80%;
    rotate: -10deg;
}

/* set table width and margin to align to center of page */

table {
    width: fit-content;
    margin-left: -0.25%;
}

/* style table to center and add padding to table elements */

table td,
table th {
    padding: 0.5em;
    text-align: center;
}

table tr {
    background-color: #f2f2f2;
}

table th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    background-color: #ecb536;
    color: white;
    white-space: nowrap;
    text-align: center;
}

/* style the dropdown to filter movies by genre */
#genre-filter{
    width: 300px;
    font-size: large;
    background-color: #ecb536;
    margin-left: 43%;
    margin-bottom: 3%;
}
